[Desktop Entry]
Type=Service
Icon=folder-red
Actions=OpenAsRoot
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,inode/directory-locked
X-KDE-Priority=TopLevel
[Desktop Action OpenAsRoot]
Exec=xhost +si:localuser:root && pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY KDE_SESSION_VERSION=5 KDE_FULL_SESSION=true dbus-launch dolphin %u && xhost -si:localuser:root
Icon=folder-red
Name=Open Dolphin as Root
